<% content_for :title do %>Home<% end %>

<h3>Welcome to IN+</h3>
<p>Help, I need a great home page.
  <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
</p>
<p>Login in. To see it in action.</p>

<%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary block full-width m-b' %>
<%= link_to 'Create an account for your practice', '/practice/register', class: 'btn btn-primary block full-width m-b' %>  
