<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Active</span>
                    <h5>Clients</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">22</h1>
                    <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                    <small>Total clients enrolled</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">Monthly</span>
                    <h5>Engagement</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">1,220</h1>
                    <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                    <small>Total food items added</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Weeks</span>
                    <h5>Retention</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">13.5 weeks</h1>
                    <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                    <small>Average length of use</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">Annual</span>
                    <h5>Conversion</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">35</h1>
                    <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
                    <small>After payment transition</small>
                </div>
            </div>
        </div>
    </div>