<div class="authform">
  <%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <h3>Invite your first client</h3>
  <%= devise_error_messages! %>

  <% resource.class.invite_key_fields.each do |field| -%>
  <%= f.input field, placeholder: 'Email', label: false %>
  <% end -%>

  <%= f.submit t("devise.invitations.new.submit_button"), :class => 'btn btn-primary block full-width m-b' %>
  <% end %>
</div>